
@using NHDai19DemoEF.Model
@model IEnumerable<NHDai19DemoEF.Model.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int number = 0;
}
<div class="container-fluid">
    <section class="content-header">
        <h4>
            <b>List Books</b>
        </h4>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Books</li>
        </ol>
    </section>

    <section class="content">
        <p>
            <a class="btn btn-success" href="/Admin/Book/Create"><i class="fa fa-plus"></i> Create New</a>
        </p>
        <div class="table-responsive ">
            <table class="table table-striped table-bordered">

                <thead>
                    <tr class="tableHead">
                        <th>#</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>Publisher</th>
                        <th>Quantity</th>
                        <th width="7%">Price</th>
                        <th>Date</th>
                        <th>Image</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Book item in Model)
                    {
                        number++;
                    <tr>
                        <th scope="row">@number</th>
                        <td>@item.Title</td>
                        <td>@item.Author.AuthorName</td>
                        <td>@item.Category.CategoryName</td>
                        <td>@item.Publisher.PublisherName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                        <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                        <td><img style="max-width:120px;" src="~/Content/Admin/images/@item.ImgUrl" alt="@item.Title" /></td>
                        <th>
                            <a class="btn btn-tumblr btn-sm" href="/Admin/Author/Edit/@item.BookId"><i class="fa fa-pencil"></i> Edit</a>
                        </th>
                        <th>
                            <a class="btn btn-adn btn-sm" href="/Admin/Author/Delete/@item.BookId"><i class="fa fa-pencil"></i> Delete</a>
                        </th>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>


